* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

button {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: default;
}
